fieldset {
  width: 400px;
  height: 400px;
  border: 2px #055c9d solid;
}

form {
  margin: 0px 20px 0 15px;
}

table {
  border-collapse: separate;
  border-spacing: 15px 15px;
}

button {
  background-color: #72a744;
  color: #f0f0f0;
  border: 2px #055c9d solid;
  border-radius: 10px;
  width: 30%;
  height: 43px;
  margin-left: 140px;
  text-align: center;
}

label {
  font-size: 14px;
}

#input {
  width: 220px;
}

.box {
  border: 2px #055c9d solid;
  line-height: 20px;
  padding: 3px 0px 5px 0px;
}

.td {
  text-align:center;
	display:inline-block;
	font-family: 'Times New Roman' ;
	border: 2px solid #4c74a0;
	width:100px;
	height:20px;
	font-size:18px;
	padding-top:8px;
	color: white;
	background-color:#72a744;
}

.gender {
  margin-left: 15px;
  margin-right: 10px;
}

.error {
  padding-left: 20px;
  color: red;
}

.star {
  color: red;
}
